/*Add By Red Qin 2016/12/06*/
.tabs-container .panel-body {
    background: #fff;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
    background-color: #984294;
}

.tabs-container .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.tabs-container .tab-pane .panel-body {
    border-top: none;
}

.tabs-container .nav-tabs {
    border-bottom: 1px solid #e7eaec;
}

.tabs-container .tabs-left .tab-pane .panel-body,
.tabs-container .tabs-right .tab-pane .panel-body {
    border-top: 1px solid #e7eaec;
}

.tabs-container .nav-tabs > li a:hover {
    background: transparent;
    border-color: transparent;
}

.tabs-container .tabs-below > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs,
.tabs-container .tabs-left > .nav-tabs {
    border-bottom: 0;
    width: 20%;
}

.tabs-container .tabs-left .panel-body {
    position: static;
    width: 80%;
    margin-left: 20%;
}

.tabs-container .tabs-right .panel-body {
    width: 80%;
    margin-right: 20%;
}

.tabs-container .tab-content > .tab-pane,
.tabs-container .pill-content > .pill-pane {
    display: none;
}

.tabs-container .tab-content > .active,
.tabs-container .pill-content > .active {
    display: block;
}

.tabs-container .tabs-below > .nav-tabs {
    border-top: 1px solid #e7eaec;
}

.tabs-container .tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-container .tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-container .tabs-below > .nav-tabs > li > a:hover,
.tabs-container .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #e7eaec;
    border-bottom-color: transparent;
}

.tabs-container .tabs-left > .nav-tabs > li,
.tabs-container .tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-container .tabs-left > .nav-tabs > li > a,
.tabs-container .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-container .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
}

.tabs-container .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-container .tabs-left > .nav-tabs .active > a,
.tabs-container .tabs-left > .nav-tabs .active > a:hover,
.tabs-container .tabs-left > .nav-tabs .active > a:focus {
    border-color: #e7eaec transparent #e7eaec #e7eaec;
    *border-right-color: #ffffff;
}

.tabs-container .tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
}

.tabs-container .tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-container .tabs-right > .nav-tabs .active > a,
.tabs-container .tabs-right > .nav-tabs .active > a:hover,
.tabs-container .tabs-right > .nav-tabs .active > a:focus {
    border-color: #e7eaec #e7eaec #e7eaec transparent;
    *border-left-color: #ffffff;
    z-index: 1;
}

@media (max-width: 767px) {
    .tabs-container .nav-tabs > li {
        float: none !important;
    }

    .tabs-container .nav-tabs > li.active > a {
        border-bottom: 1px solid #e7eaec !important;
        margin: 0;
    }
}

.nav-tabs > li > a {
    color: #A7B1C2;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}


.ms-core-overlay {
    background-color: #fff !important;
}

#onetIDListForm {
    width: 100%;
}

#onetIDListForm legend {
    display: none;
}

.DeviceNameSelect {
    float: left;
    width: 120px;
}

#s4-titlerow {
    display: none !important;
}

.select_form {
    border: 1px solid #dcdcdc !important;
    width: 100%;
    text-align: left;
    margin: 0px !important;
    vertical-align: bottom;
    padding: 0px !important;
    font-family: Microsoft YaHei !important;
    font-size: 10pt !important;
    background-color: #ffffff !important;
    color: #000000 !important;
}

.divForm {
    padding: 20px;
    position: relative;
}

.form_table {
    width: 100%;
    border: none;
    word-wrap: break-word;
    border-collapse: collapse;
    table-layout: fixed;
    text-transform: none;
    font-style: normal;
    font-family: Microsoft YaHei;
    color: black;
    font-size: 10pt;
    font-weight: normal;
}

.form_table .form_table_title_Detail {
    background: #FFFFFF !important;
    border-left: #d8d8d8 1pt solid !important;
    border-right: #d8d8d8 1pt solid !important;
}

.form_table .form_table_title_Detail span {
    color: #da9694 !important;
}

.form_table .form_table_required {
    color: red;
}

.form_table .form_table_clear {
    clear: both;
}

.form_table .form_table_title {
    /*border-bottom: #d8d8d8 1pt solid;*/
    /*background-color: #da9694;*/
    border-bottom: #e9c5e8 1pt solid;
    background-color: #aa6ea8;
    text-align: left;
    border: #d8d8d8;
}

.form_table .form_table_title span {
    font-size: 22px;
    display: block;
    color: #ffffff;
    /*text-align:center*/
    margin-left: 440px
}

.form_table .form_table_title span.en {
    font-weight: 700;
}

.form_table td {
    border: 1pt solid #d8d8d8;
    vertical-align: middle;
}

.form_table td.form_table_title, td.form_table_label, .form_table td.form_table_input, td.form_table_area {
    padding: 4px 22px;
}

.form_table td.form_table_label {
    text-align: left;
}

.form_table .form_table_label > span {
    display: block;
    font-weight: 700;
    font-size: 10pt;
    font-family: Microsoft YaHei;
}

.form_table .form_table_label > span.en {
    display: block;
}

.form_table .form_table_label > span.cn {
    color: #da9694;
}

.form_table td.form_table_input {
    text-align: center;
}

.form_table td.form_table_area {
    text-align: left;
}

.form_table td.form_table_area span {
    /*min-width: 120px;*/
    min-width: 180px;
    display: block;
    float: left;
}

.form_table td.form_table_input > input, .form_table td.form_table_input > select, .form_table td.form_table_area > textarea {
    width: 100%;
}

.form_table td.form_table_input > after {
    content: "*";
}

.form_displayCss {
    /*display:none!important;*/
}

.form_table .form_table_submit {
    text-align: center;
}

.form_table .form_table_submit input {
    margin: 3px;
}

.form_table .sp-peoplepicker-topLevel {
    width: 100%;
    line-height: 29px;
    /* border: none; */
    border-bottom: 1px solid #ababab;
    text-align: left;
}

.form_table td.form_table_area span.sp-peoplepicker-initialHelpText,
.form_table td.form_table_area span.sp-peoplepicker-resolveList,
.form_table td.form_table_area span.sp-peoplepicker-resolveList span {
    width: auto;
}

.form_table .sp-peoplepicker-topLevel input {
    border-style: none !important;
}

.form_table .form_table_input > ul {
    padding: 0;
    text-align: left;
    min-height: 60px;
}

.form_table .form_table_input > ul li {
    list-style-type: none;
    line-height: 19px;
}

.form_table .form_table_ul input[type="radio"] {
    margin: 4px 0 0 !important;
}

.form_gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.form_table .form_table_subtitle {
    background: rgba( 239,239,239,0.78 );
}

.datepicker table thead tr:last-child:not(:only-child) {
    background: #da9694;
}

.datepicker table td.active:before {
    background-color: #da9694;
}

.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
    background-color: #fff !important;
    background-image: linear-gradient(to bottom,#fff,#fff);
}

.form_table_Search {
    position: absolute;
    right: 22px;
    top: 4px;
}

.form_table_Search input {
    height: 25px;
    line-height: 5px;
    background: #da9694;
    border: 1px solid #da9694;
}

.form_table_download {
    padding: 0 2px !important;
    background-color: #da9694 !important;
    border: none !important;
    margin-top: -3px;
    width: 82px !important;
    margin-left: 20px !important;
}

.tproastinputDownload {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #e1e1e1 !important;
    color: black !important;
    height: 27px !important;
}

.tproastinputdiv {
    margin-top: 5px;
}

.tproastinput {
    display: inline !important;
}

.sdxlist {
    height: 40px;
}

.sdxlist a {
    background: #2196f3;
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 8px;
}

.pe_dn_fi_p {
    width: 100%;
    height: 30px;
}

.pe_dn_fi_c {
    float: left;
}

.pe_dn_fi_c_title {
    font-weight: bold;
}

.pe_dn_fi_c_text {
    height: 27px;
    line-height: 27px;
    padding: 0 6px;
}

.pe_dn_fi_c input {
    width: 95%;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    /*der-bottom: 1px solid #d5d5d5;*/
}

.pe_dn_fi_c_hide {
    display: none;
}

.pe_dn_fi_c_code {
    width: 15%;
    height: 27px;
    line-height: 27px;
    padding: 0 6px;
}

.pe_dn_fi_c_testflowname {
    width: 25%;
    height: 27px;
    line-height: 27px;
    padding: 0 6px;
}

.pe_dn_fi_c_qaflowname {
    width: 25%;
    height: 27px;
    line-height: 27px;
    padding: 0 6px;
}

.pe_dn_fi_c_rev {
    width: 8%;
    height: 27px;
    line-height: 27px;
    padding: 0 6px;
}

.pe_dn_fi_c_inproduction {
    /*width:15%;*/
    text-align: left;
    height: 27px;
    line-height: 27px;
    padding: 0 6px;
}

.pe_dn_fi_createfolder {
    text-align: center;
}

.pe_dn_fi_createfolder input {
    background: #d5d5d5 !important;
}

.sdxupload {
    width: 70px !important;
}

.NoSee {
    display: none;
}

#tpr_wapper {
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.3; /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    margin: auto;
}

.cq_loading {
    width: 80px;
    height: 40px;
    margin: 40% auto;
}

.cq_loading span {
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    -webkit-animation: load 1s ease infinite;
}

@-webkit-keyframes load {
    0%,100% {
        height: 40px;
        background: lightgreen;
    }
    50% {
        height: 70px;
        margin: -15px 0;
        background: lightblue;
    }
}
.cq_loading span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
}
.cq_loading span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
}
.cq_loading span:nth-child(4) {
    -webkit-animation-delay: 0.6s;
}
.cq_loading span:nth-child(5) {
    -webkit-animation-delay: 0.8s;
}
.input[type=password], input[type=text], input[type=file], textarea, select {
    border-width: 0 0 1px 0 !important;
    border-color: inherit;
}
body {
    font-weight: 400;
    position: relative;
    font-family: roboto;
    font-size: 13px;
    line-height: 1.42857143;
    color: #5e5e5e;
    margin: 0px;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat
}
.form_table td {
    line-height: 40px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* 定位 */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.line_Title {
    color: #aa6ea8;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 4px 5px;
}
.layui-layer.layui-layer-page.layer-anim {
    height: 90%;
    overflow: auto;
    overflow-x: hidden;
    top: 50px !important
}
.layui-layer-content {
    height: auto !important
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff !important;
}
.btn-primary {
    color: #fff;
    background-color: #984394 !important;
    border-color: #dabeda !important;
}
.form_control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
    line-height: 1.42857143
}
.liStyle {
    margin-left: 20px;
    float: left;
    margin-right: 20px;
}
.buttonStyle {
    margin-top: -6px;
    float: none !important;
    font-size: 21px !important
}
.nav-tabs > li > a {
    background: #eee;
}
a:visited {
    color: #0a6ebd;
}
