<title>QRE 线上需求系统</title>
<link href="../css/qre_common.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../css/kendo.common.min.css" rel="stylesheet">
<link href="../css/kendo.rtl.min.css" rel="stylesheet">
<link href="../css/kendo.default.min.css" rel="stylesheet">
<link href="../css/kendo.dataviz.min.css" rel="stylesheet">
<link href="../css/kendo.dataviz.default.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/jquery.datetimepicker.css" />

<script src="../js/jquery.SPServices-2014.02.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/products.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/kendo.all.min.js"></script>
<script src="../js/console.js"></script>
<script src="../js/layer.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.metisMenu.js"></script>
<script src="../js/jquery.slimscroll.min.js"></script>
<script src="../js/products.js"></script>
<script src="http://eip.unisoc.com/sites/howto/_catalogs/masterpage/FormDesigner/js/ueditor/ueditor.config.js"></script>
<script src="http://eip.unisoc.com/sites/howto/_catalogs/masterpage/FormDesigner/js/ueditor/ueditor.all.js"></script>
<script src="../js/SaveDetail.js"></script>
<script src="../js/jquery.datetimepicker.js"></script>
<style>
    .edui-editor div {
        line-height: 20px;
    }

    .radio, .checkbox {
        margin-top: -25px;
    }

    label {
        font-weight: 100;
    }
    .over {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
        opacity: 0.5;
        z-index: 1000;
    }
    .layout {
        display: none;
        position: absolute;
        top: 30%;
        left: 40%;
        width: 20%;
        height: 20%;
        z-index: 1001;
        text-align: center;
    }
    .k-alt, .k-header, .k-pager-wrap {
        background-color: #ffffff !important;
    }
    .k-grid td {
        border-bottom: 1px solid #d5d5d5
    }
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #ffffff !important;
        font-size:14px
    }
</style>
<script>
    $(function () {
        $('#Stage3ReceiveDate').datetimepicker({
            lang: 'ch',
            timepicker: false,
            format: 'Y-m-d',
            formatDate: 'Y-m-d',
            scrollMonth: false,
            scrollTime: false,
            scrollInput: false,
        });
        $('#Stage3CompleteDate').datetimepicker({
            lang: 'ch',
            timepicker: false,
            format: 'Y-m-d',
            formatDate: 'Y-m-d',
            scrollMonth: false,
            scrollTime: false,
            scrollInput: false,
        });
        $('#Stage4ReceiveDate').datetimepicker({
            lang: 'ch',
            timepicker: false,
            format: 'Y-m-d',
            formatDate: 'Y-m-d',
            scrollMonth: false,
            scrollTime: false,
            scrollInput: false,
        });
        $('#Stage4CompleteDate').datetimepicker({
            lang: 'ch',
            timepicker: false,
            format: 'Y-m-d',
            formatDate: 'Y-m-d',
            scrollMonth: false,
            scrollTime: false,
            scrollInput: false,
        });
    })
</script>
<div id="example" ng-app="KendoDemos">
    <div ng-controller="SaveDetailCtrl">
        <div id="wrapper">
            <div id="page-wrapper" class="gray-bg">
                <div class="wrapper wrapper-content animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1" id="tab-Title-1">Step1.created Case</a></li>
                                    <li style="display:none"><a data-toggle="tab" href="#tab-2" id="tab1">Step2.Information Collection</a></li>
                                    <li><a href="" id="tab-Title-2" ng-click="InserLeipiEditor()">Step2.Information Collection</a></li>
                                    <li style="display:none"><a data-toggle="tab" href="#tab-3" id="tab2">Step3.Statistic Analysis</a></li>
                                    <li><a href="" id="tab-Title-3" ng-click="Inser3LeipiEditor()">Step3.Statistic Analysis</a></li>
                                    <li style="display:none"><a data-toggle="tab" href="#tab-4" id="tab3">Step4.Failure Analysis</a></li>
                                    <li><a href="" id="tab-Title-4" ng-click="Inser4LeipiEditor()">Step4.Failure Analysis</a></li>
                                    <li style="display:none"><a data-toggle="tab" href="#tab-5" id="tab4">Step5.Conclusion</a></li>
                                    <li><a href="" id="tab-Title-5" ng-click="Inser5LeipiEditor()">Step5.Conclusion</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active divForm">
                                        <table class="form_table form_displayCss" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Case No. <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <span title="ESSENTIAL" class="form_control spanPadding border-bottom-Select-Span">{{result.CaseNumber}}</span>
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Created by <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <span title="ESSENTIAL" class="form_control border-bottom-Select-Span">{{result.CreatedBy}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Title <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input" colspan="3">
                                                        <input title="ESSENTIAL 客户/工厂+产品+发生站别+现象+颗数" ng-model="result.CaseTitle" type="text" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Type <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <select title="ESSENTIAL" class="form_control border-bottom-Select-Span" ng-model="Type" ng-options="x.CaseType for x in Types"></select>
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Created Date <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <span title="ESSENTIAL" class="form_control border-bottom-Select-Span">{{result.CreatedDate}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Priority <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input" colspan="3">
                                                        <select title="ESSENTIAL" class="form_control border-bottom-Select-Span" ng-model="result.Priority" ng-options="x for x in Prioritys"></select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="form_table_submit">
                                                        <button class="btn btn-primary" ng-click="InserLeipiEditor()" type="button">Next</button>
                                                        <button class="btn btn-primary" onclick="window.location='../SitePages/Home.aspx'" type="button">Cancel</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="tab-2" class="tab-pane divForm">
                                        <table class="form_table form_displayCss" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Product <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input title="ESSENTIAL" class="form_control border-bottom-Select-Span" ng-change="changeKeyValue(MPN)" ng-model="MPN" style='display:block' ng-click='hidden=!hidden' value="{{MPN}}" />
                                                        <div ng-hide="hidden">
                                                            <select ng-change="change(x)" ng-model="x" multiple style="width:100%">
                                                                <option ng-repeat="MPN in MPNList">{{MPN.MPN}}</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Other product </span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input ng-model="result.Other" type="text" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Product Line<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input title="ESSENTIAL" class="form_control" ng-model="result.ProductLine" type="text" readonly="readonly" />
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">QRE Owner<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input title="ESSENTIAL" class="form_control" ng-model="result.QREOwner" type="text" readonly="readonly" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">DPPM<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input title="ESSENTIAL Competition Analysis 请填写NA " ng-model="result.Dppm" type="text" />
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">{{Customer}}<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input title="ESSENTIAL" ng-model="result.Customer" type="text" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Issue From<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <select title="ESSENTIAL Competition Analysis请选Other" class="form_control border-bottom-Select-Span" ng-model="result.FailuresFound" ng-options="x for x in FailuresFounds"></select>
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">{{LinkName}}<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input" id="showFAR">
                                                        <span title="ESSENTIAL" class="form_control border-bottom-Select-Span" id="linkName"></span>
                                                    </td>
                                                    <td class="form_table_input" ng-if="LinkName=='FAR No.'&&!isSaveFAR">
                                                        <input title="ESSENTIAL Ep: 20180425_7763.xml" ng-model="result.LinkName" id="LinkName" type="text" />
                                                    </td>
                                                    <td class="form_table_input" ng-if="LinkName!='FAR No.'&&!isSaveFAR">
                                                        <input title="ESSENTIAL Competition Analysis 请填写NA" ng-model="result.LinkName" id="LinkName" type="text" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label" colspan="4">
                                                        <span class="en">Problem Description<i class="form_table_required">*</i></span>
                                                        <script id="ProblemDescription" type="text/plain" style="width:100%;">
                                                        </script>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label" colspan="4">
                                                        <span class="en">Lot Information</span>
                                                        <div id="grid"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label borderButtomNone" colspan="4">
                                                        <span class="en">Analysis Request<i class="form_table_required">*</i></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_area borderButtomNone borderTopNone" colspan="4" style="padding:4px 22px 0px" title="ESSENTIAL">
                                                        <div>
                                                            <span ng-repeat="Analysis in DestructiveAnalysis">
                                                                <label ng-if="Analysis=='成本/结构分析'">
                                                                    <input ng-click="DestructiveAnalysisClick(Analysis)" type="checkbox" id="{{Analysis|ValueString}}13" name="DestructiveAnalysis" value="{{Analysis}}">
                                                                    {{Analysis}}
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_area borderButtomNone borderTopNone" colspan="4" title="ESSENTIAL">
                                                        <u>Non-destructive Analysis</u>
                                                        <div>
                                                            <span ng-repeat="Analysis in NonDestructiveAnalysis">
                                                                <label>
                                                                    <input ng-click="NonDestructiveAnalysisClick(Analysis)" id="{{Analysis|ValueString}}12" type="checkbox" name="NonDestructiveAnalysis" value="{{Analysis}}">
                                                                    {{Analysis}}
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_area borderButtomNone borderTopNone" colspan="4" style="padding:4px 22px 0px" title="ESSENTIAL">
                                                        <u>Destructive Analysis</u>
                                                        <div>
                                                            <span ng-repeat="Analysis in DestructiveAnalysis">
                                                                <label ng-if="Analysis!='成本/结构分析'">
                                                                    <input ng-click="DestructiveAnalysisClick(Analysis)" type="checkbox" id="{{Analysis|ValueString}}13" name="DestructiveAnalysis" value="{{Analysis}}">
                                                                    {{Analysis}}
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="form_table_submit">
                                                        <button class="btn btn-primary" ng-click="StateLink('#tab-Title-1')" type="button">Previous</button>
                                                        <button class="btn btn-primary" ng-click="Inser3LeipiEditor()" type="button">Next</button>
                                                        <button class="btn btn-primary" type="button" ng-click="SaveDetail()">Save</button>
                                                        <button class="btn btn-primary" onclick="window.location='../SitePages/Home.aspx'" type="button">Cancel</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="tab-3" class="tab-pane divForm">
                                        <table class="form_table form_displayCss" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Need Statistic Analysis?</span>
                                                    </td>
                                                    <td class="form_table_input" colspan="3">
                                                        <select title="ESSENTIAL" class="form_control border-bottom-Select-Span" ng-model="result.Stage3ContinueAnalysis">
                                                            <option value="Yes" label="Yes">Yes</option>
                                                            <option value="NO" label="NO">NO</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="form_table form_displayCss" align="center" id="showStage3Summary">
                                            <tbody>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Received Date</span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input type="text" AUTOCOMPLETE="off"  id="Stage3ReceiveDate" />
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Completed Date</span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input type="text" id="Stage3CompleteDate"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Step3 assiggn to</span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input ng-model="result.Stage3AssiggnTo" id="Stage3AssiggnTo" type="text" />
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span>Install attachment</span>
                                                    </td>
                                                    <td class="form_table_label">
                                                        <input class="form_control border-bottom-Select-Span" ng-model="file" id="stage3FileInstall" onchange="angular.element(this).scope().upload(this,'InstallAttachmentStage3','Stage3','Documents')" type="file">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">
                                                        <ul id="InstallAttachmentStage3"></ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="form_table_label">
                                                        <span>
                                                            item:
                                                            <span class="ng-binding ng-scope" ng-repeat="item in StatisticAnalysis">
                                                                <label>
                                                                    <input type="checkbox" ng-click="Stage3ItemClick(item)" id="{{item|ValueString}}3" name="item" value="{{item}}">
                                                                    {{item}}
                                                                </label>
                                                            </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="form_table_label">
                                                        <span>Summary</span>
                                                        <script id="Stage3Summary" type="text/plain" style="width:100%;">
                                                        </script>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="form_table form_displayCss" align="center" ng-if="IsShowStage3">
                                            <tbody>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Step3 CRCT</span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input ng-model="result.Stage3CRCT" id="Stage3CRCT" type="text" readonly="readonly" />
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Continue Analysis?</span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <select ng-model="result.Stage4ContinueAnalysis" class="form_control border-bottom-Select-Span">
                                                            <option value="Yes" label="Yes">Yes</option>
                                                            <option value="NO" label="NO">NO</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="form_table form_displayCss" align="center">
                                            <tbody>
                                                <tr>
                                                    <td colspan="4" class="form_table_submit">
                                                        <button class="btn btn-primary" ng-click="InserLeipiEditor()" type="button">Previous</button>
                                                        <button class="btn btn-primary" ng-click="Inser4LeipiEditor()" ng-if="IsShowStage4" type="button">Next</button>
                                                        <button class="btn btn-primary" ng-click="Inser5LeipiEditor()" ng-if="!IsShowStage4" type="button">Next</button>
                                                        <button class="btn btn-primary" type="button" ng-click="SaveDetail()">Save</button>
                                                        <button class="btn btn-primary" onclick="window.location='../SitePages/Home.aspx'" type="button">Cancel</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="tab-4" class="tab-pane divForm">
                                        <table id="stage4ShowSummary" class="form_table form_displayCss" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Received Date</span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input type="text" class="form_control" id="Stage4ReceiveDate" />
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Completed Date</span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input type="text" class="form_control" id="Stage4CompleteDate" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_area borderButtomNone borderTopNone" colspan="4" title="ESSENTIAL">
                                                        item<br />
                                                        <div>
                                                            <span ng-repeat="Analysis in DestructiveAnalysis">
                                                                <label ng-if="Analysis=='成本/结构分析'">
                                                                    <input ng-click="itemTwoClick(Analysis)" type="checkbox" id="{{Analysis|ValueString}}42" name="DestructiveAnalysis" value="{{Analysis}}">
                                                                    {{Analysis}}
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_area borderButtomNone borderTopNone" colspan="4">
                                                        <div>
                                                            <span ng-repeat="itemOne in NonDestructiveAnalysis">
                                                                <label>
                                                                    <input type="checkbox" ng-click="itemOneClick(itemOne)" id="{{itemOne|ValueString}}41" name="stageItemOne" value="{{itemOne}}">
                                                                    {{itemOne}}
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_area borderButtomNone borderTopNone" colspan="4"title="ESSENTIAL">
                                                        <div>
                                                            <span ng-repeat="Analysis in DestructiveAnalysis">
                                                                <label ng-if="Analysis!='成本/结构分析'">
                                                                    <input ng-click="itemTwoClick(Analysis)" type="checkbox" id="{{Analysis|ValueString}}42" name="DestructiveAnalysis" value="{{Analysis}}">
                                                                    {{Analysis}}
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_area" colspan="4" title="ESSENTIAL">
                                                        Lab<br />
                                                        <div>
                                                            <span ng-repeat="Lab in LabList">
                                                                <label>
                                                                    <input ng-click="LabClick(Lab)" type="checkbox" id="{{Lab|ValueString}}Lab" name="Lab" value="{{Lab}}">
                                                                    {{Lab}}
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="form_table_label">
                                                        <span>Install attachment</span>
                                                        <input ng-model="file" id="stage4FileInstall" onchange="angular.element(this).scope().upload(this,'InstallAttachmentStage4','Stage4','Documents')" type="file">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">
                                                        <ul id="InstallAttachmentStage4"></ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="form_table_label">
                                                        <span>Summary</span>
                                                        <script id="Stage4Summary" type="text/plain" style="width:100%;">
                                                        </script>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table ng-if="IsShowStage4" class="form_table form_displayCss" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Step4 CRCT</span>
                                                    </td>
                                                    <td class="form_table_input" colspan="3">
                                                        <input ng-model="result.Stage4CRCT" id="Stage4CRCT" type="text" readonly="readonly" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="form_table_submit">
                                                        <button class="btn btn-primary" ng-click="Inser3LeipiEditor()" type="button">Previous</button>
                                                        <button class="btn btn-primary" ng-click="Inser5LeipiEditor()" type="button">Next</button>
                                                        <button class="btn btn-primary" type="button" ng-click="SaveDetail()">Save</button>
                                                        <button class="btn btn-primary" onclick="window.location='../SitePages/Home.aspx'" type="button">Cancel</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="tab-5" class="tab-pane divForm">
                                        <table class="form_table form_displayCss" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Root Cause</span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <span>{{result.Type}}</span>
                                                    </td>
                                                    <td class="form_table_input" colspan="2">
                                                        <select ng-model="RootCauseLv1Select" class="form_control border-bottom-Select-Span" ng-options="x.Level1 for x in RootCauseLv1"><option value="">Level1</option></select>
                                                    </td>
                                                    <!--<td class="form_table_input">
                                                        <select ng-model="result.RootCauseLv2" class="form_control" ng-options="x for x in RootCauseLv2"><option value="">Level2</option></select>
                                                    </td>-->
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="form_table_label">
                                                        <span>CA&PA&Conclusion</span>
                                                        <script id="Stag5Summary" type="text/plain" style="width:100%;">
                                                        </script>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Case Status <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input" colspan="3">
                                                        <select title="ESSENTIAL" id="CaseStatus" class="form_control border-bottom-Select-Span" ng-model="result.CaseStatus" ng-options="x for x in CaseStatus"></select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">CRCT</span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input ng-model="result.Stage5CRCT" id="Stage5CRCT" type="text" readonly="readonly" />
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Complexity</span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input ng-model="result.Complexity" id="Complexity" type="text" readonly="readonly" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="form_table_submit">
                                                        <button class="btn btn-primary" ng-click="Inser3LeipiEditor()" ng-if="!IsShowStage4" type="button">Previous</button>
                                                        <button class="btn btn-primary" ng-click="Inser4LeipiEditor()" ng-if="IsShowStage4" type="button">Previous</button>
                                                        <button class="btn btn-primary" type="button" ng-click="SaveDetail()">Save</button>
                                                        <button class="btn btn-primary" onclick="window.location='../SitePages/Home.aspx'" type="button">Cancel</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
