<title>QRE 线上需求系统</title>
<link href="../css/qre_common.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../css/kendo.common.min.css" rel="stylesheet">
<link href="../css/kendo.rtl.min.css" rel="stylesheet">
<link href="../css/kendo.default.min.css" rel="stylesheet">
<link href="../css/kendo.dataviz.min.css" rel="stylesheet">
<link href="../css/kendo.dataviz.default.min.css" rel="stylesheet">

<script src="../js/jquery.SPServices-2014.02.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/products.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/kendo.all.min.js"></script>
<script src="../js/console.js"></script>
<script src="../js/layer.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.metisMenu.js"></script>
<script src="../js/jquery.slimscroll.min.js"></script>
<script src="../js/products.js"></script>
<script src="http://eip.unisoc.com/sites/howto/_catalogs/masterpage/FormDesigner/js/ueditor/ueditor.config.js"></script>
<script src="http://eip.unisoc.com/sites/howto/_catalogs/masterpage/FormDesigner/js/ueditor/ueditor.all.js"></script>
<script src="../js/QreCase.js"></script>
<style>
    .edui-editor div {
        line-height: 20px;
    }

    .radio, .checkbox {
        margin-top: -25px;
    }

    label {
        font-weight: 100;
    }

    .k-alt, .k-header, .k-pager-wrap {
        background-color: #ffffff !important;
    }

    .k-grid td {
        border-bottom: 1px solid #d5d5d5
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #ffffff !important;
        font-size: 14px
    }
</style>
<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
        <div id="wrapper">
            <div id="page-wrapper" class="gray-bg">
                <div class="wrapper wrapper-content animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1" id="tab-Title-1">Step1.created Case</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-2" id="tab-Title-2">Step2.Information Collection</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active divForm">
                                        <table class="form_table form_displayCss" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Case No. <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <span title="ESSENTIAL" class="form_control border-bottom-Select-Span" style="color:#ababab">保存case自动生成</span>
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Created by <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <span title="ESSENTIAL" class="form_control border-bottom-Select-Span">{{result.CreatedBy}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Title <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input" colspan="3">
                                                        <input title="ESSENTIAL 客户/工厂+产品+发生站别+现象+颗数"
                                                               ng-model="result.CaseTitle" type="text" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Type <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <select title="ESSENTIAL" class="form_control border-bottom-Select-Span" ng-model="Type" ng-options="x.CaseType for x in Types"></select>
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Created Date <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <span title="ESSENTIAL" class="form_control border-bottom-Select-Span">{{result.CreatedDate}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Priority <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <select title="ESSENTIAL" class="form_control border-bottom-Select-Span" ng-model="result.Priority" ng-options="x for x in Prioritys"></select>
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Department <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <span title="ESSENTIAL" class="form_control border-bottom-Select-Span">{{result.Department}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Case Status <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <span title="ESSENTIAL" class="form_control border-bottom-Select-Span">{{result.CaseStatus}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="form_table_submit">
                                                        <button class="btn btn-primary" ng-click="StateLink('#tab-Title-2')" type="button">Next</button>
                                                        <button class="btn btn-primary" onclick="window.location='../SitePages/Home.aspx'" type="button">Cancel</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="tab-2" class="tab-pane divForm">
                                        <table class="form_table form_displayCss" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Product <i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input title="ESSENTIAL" class="form_control border-bottom-Select-Span" ng-change="changeKeyValue(MPN)" ng-model="MPN" style='display:block' ng-click='hidden=!hidden' value="{{MPN}}" />
                                                        <div ng-hide="hidden">
                                                            <select ng-change="change(x)" class="form_control border-bottom-Select-Span" ng-model="x" multiple style="width:100%">
                                                                <option ng-repeat="MPN in MPNList">{{MPN.MPN}}</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Other product</span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input ng-model="result.Other" type="text" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label">
                                                        <span class="en">Product Line<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input class="form_control" ng-model="result.ProductLine" type="text" readonly="readonly" />
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">QRE Owner<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input class="form_control" ng-model="result.QREOwner" type="text" readonly="readonly" />
                                                    </td>
                                                </tr>
                                                <tr ng-if="result.Type!='RMA'">
                                                    <td class="form_table_label">
                                                        <span class="en">DPPM<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input title="ESSENTIAL Competition Analysis 请填写NA " ng-model="result.Dppm" type="text" />
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">Issue From<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <select title="ESSENTIAL Competition Analysis请选Other" class="form_control border-bottom-Select-Span" ng-model="result.FailuresFound" ng-options="x for x in FailuresFounds"></select>
                                                    </td>
                                                </tr>
                                                <tr ng-if="result.Type!='RMA'">
                                                    <td class="form_table_label">
                                                        <span class="en">{{LinkName}}<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input" ng-if="LinkName=='FAR No.'">
                                                        <input title="ESSENTIAL Ep: 20180425_7763.xml" ng-model="result.LinkName" type="text" />
                                                    </td>
                                                    <td class="form_table_input" ng-if="LinkName!='FAR No.'">
                                                        <input title="ESSENTIAL Competition Analysis 请填写NA" ng-model="result.LinkName" type="text" />
                                                    </td>
                                                </tr>
                                                <tr ng-if="result.Type=='RMA'">
                                                    <td class="form_table_label">
                                                        <span class="en">DPPM<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input title="ESSENTIAL Competition Analysis 请填写NA " ng-model="result.Dppm" type="text" />
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">{{Customer}}<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <input title="ESSENTIAL" ng-model="result.Customer" type="text" />
                                                    </td>
                                                </tr>
                                                <tr  ng-if="result.Type=='RMA'">
                                                    <td class="form_table_label">
                                                        <span class="en">Issue From<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input">
                                                        <select title="ESSENTIAL Competition Analysis请选Other" class="form_control border-bottom-Select-Span" ng-model="result.FailuresFound" ng-options="x for x in FailuresFounds"></select>
                                                    </td>
                                                    <td class="form_table_label">
                                                        <span class="en">{{LinkName}}<i class="form_table_required">*</i></span>
                                                    </td>
                                                    <td class="form_table_input" ng-if="LinkName=='FAR No.'">
                                                        <input title="ESSENTIAL Ep: 20180425_7763.xml" ng-model="result.LinkName" type="text" />
                                                    </td>
                                                    <td class="form_table_input" ng-if="LinkName!='FAR No.'">
                                                        <input title="ESSENTIAL Competition Analysis 请填写NA" ng-model="result.LinkName" type="text" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="form_table_label" colspan="4">
                                                        <span class="en">Problem Description<i class="form_table_required">*</i></span>
                                                        <script id="ProblemDescription" type="text/plain" style="width:100%;">
                                                        </script>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label" colspan="4">
                                                        <span class="en">Lot Information</span>
                                                        <div id="grid"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_label" colspan="4" style="border-bottom:none">
                                                        <span class="en">Analysis Request<i class="form_table_required">*</i></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_area" colspan="4" style="border-top:none;border-bottom:none" title="ESSENTIAL">
                                                        <div>
                                                            <span ng-repeat="Analysis in DestructiveAnalysis">
                                                                <label ng-if="Analysis=='成本/结构分析'">
                                                                    <input ng-click="DestructiveAnalysisClick(Analysis)" type="checkbox" name="DestructiveAnalysis" value="{{Analysis}}">
                                                                    {{Analysis}}
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_area" colspan="4" style="border-top:none;border-bottom:none" title="ESSENTIAL">
                                                        <u>Non-destructive Analysis</u>
                                                        <div>
                                                            <span ng-repeat="Analysis in NonDestructiveAnalysis">
                                                                <label>
                                                                    <input ng-click="NonDestructiveAnalysisClick(Analysis)" type="checkbox" name="NonDestructiveAnalysis" value="{{Analysis}}">
                                                                    {{Analysis}}
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form_table_area" colspan="4" style="border-top:none;border-bottom:none;padding:4px 22px 0px" title="ESSENTIAL">
                                                        <u>Destructive Analysis</u>
                                                        <div>
                                                            <span ng-repeat="Analysis in DestructiveAnalysis">
                                                                <label ng-if="Analysis!='成本/结构分析'">
                                                                    <input ng-click="DestructiveAnalysisClick(Analysis)" type="checkbox" name="DestructiveAnalysis" value="{{Analysis}}">
                                                                    {{Analysis}}
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="form_table_submit">
                                                        <button class="btn btn-primary" ng-click="StateLink('#tab-Title-1')" type="button">Previous</button>
                                                        <button class="btn btn-primary" ng-click="save()" type="button">Save</button>
                                                        <button class="btn btn-primary" onclick="window.location='../SitePages/Home.aspx'" type="button">Cancel</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
